mixin video(info)
  div 
    h3
      a(href=`/videos/${info.id}`)=info.title 
    each hashtag in info.hashtags
      small=hashtag
    p=info.description
    small Posted #{info.createdAtFromNow}. 
    br
    small #{info.meta.views} views.  
    br
    small #{info.meta.rating}/5
    hr
