mixin video(info)
  div 
    h4
      a(href=`/videos/${info.id}`)=info.title 
    p=info.description
    small Posted #{info.createdAt}. 
    br
    small #{info.meta.views} views.  
    br
    small #{info.meta.rating}/5
    hr
